body{
  background-image: linear-gradient(to right top, #1500ff, #6547ff, #8f73ff, #b29dff, #d3c7ff, #e1cafe, #edcdfd, #f8d1fc, #ffa6e0, #ff75ad, #ff3d66, #ff0000);
}
.bodcontainer{
  width:98%;
  height:90%;
  background-image:linear-gradient(to bottom, #ffffff, #f8f8ff, #f0f1ff, #e7eaff, #dce4ff);
  margin-left: auto;
  margin-right: auto;
}

#logobox{
  width: 97%;
  height: 100px;
  background-image: url("Logo1.png");
  background-size: cover;
  border-radius: 2.5px;
  margin-left: auto;
  margin-right: auto;
  
}
hr{
  opacity: 0;
}
.box{
  width: 90%;
  height: 125px;
  background-color: white;
  border-radius: 2.5px;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.circle{
  background-image: url("plus.png");
  background-color: white;
  border-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  bottom: 30;
  right: 10;
}
.popbox{
  display: none;
  position: fixed;
  width: 400px;
  height: 350px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}
.popoverlay{
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: white;
  width:800px;
  border-color: white;
  border-radius: 2.5px;
  height:500px;
}
.logbox{
  display: none;
  position: fixed;
  width: 400px;
  height: 350px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}
.logoverlay{
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: white;
  width:800px;
  border-color: white;
  border-radius: 2.5px;
  height:500px;
}