<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Rooms</title>
</head>
<body>
    <input id="room-name-submit-alpha" type="button" value="Room Alpha"><br>
    <input id="room-name-submit-bravo" type="button" value="Room Bravo"><br>
    <input id="room-name-submit-charlie" type="button" value="Room Charlie"><br>

    <script>
        document.querySelector('#room-name-submit-alpha').onclick = function(e) {
            var roomName = "alpha";
            window.location.pathname = '/game/' + roomName + '/';
        };
        document.querySelector('#room-name-submit-bravo').onclick = function(e) {
            var roomName = "bravo";
            window.location.pathname = '/game/' + roomName + '/';
        };
        document.querySelector('#room-name-submit-charlie').onclick = function(e) {
            var roomName = "charlie";
            window.location.pathname = '/game/' + roomName + '/';
        };
    </script>
</body>
</html>