<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Rooms</title>
</head>
<body>
    <div><a href="/">&larr;</a></div>
    <br><br>
    <input id="room-name-submit-alpha" type="button" value="Room Alpha"><br>
    <input id="room-name-submit-bravo" type="button" value="Room Bravo"><br>
    <input id="room-name-submit-charlie" type="button" value="Room Charlie"><br>
    
    <br><br>
    <div>Room Alpha is currently the only open lobby</div>
    <br><div>To Play:</div>
    <br><div>1.Select a lobby</div>
    <br><div>2.Click on pins to see clues</div>
    <br><div>3.Create a route and submit</div>
    <br><div>4.If your solution is correct, you win, if not, start over</div>
    <br><div>5.Your attempts are timed. The fastest times in the lobby will appear on the leaderboard</div>
    
    <script>
        document.querySelector('#room-name-submit-alpha').onclick = function(e) {
            var roomName = "alpha";
            window.location.pathname = '/game/' + roomName + '/';
        };
        document.querySelector('#room-name-submit-bravo').onclick = function(e) {
            var roomName = "bravo";
            window.location.pathname = '/game/' + roomName + '/';
        };
        document.querySelector('#room-name-submit-charlie').onclick = function(e) {
            var roomName = "charlie";
            window.location.pathname = '/game/' + roomName + '/';
        };
    </script>
</body>
</html>