<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'reviews/game.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/game_leaflet.css' %}">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <meta charset="utf-8"/>
    <title>Point to Point</title>
</head>
<body>
    <!--Redirect to homepage-->
    <div class="back_button">&larr;</div>
    <br>
    <!--Lobby ID-->
    <div class="info_box">Lobby #</div><br>
    <!-- text input is placeholder. Remove when pin selection is implemented.-->
    <input type="text" id="test"><br>
    <!--Time is here-->
    <div class="info_box">Time
        <p class="time">
            <span id="minutes">00</span>:<span id="seconds">00</span>
<!--            :<span id="tens">00</span>-->
        </p>
    </div><br>

    <!--Leaderboard info is displayed here-->
    <div class="leader_board">Lead</div>
    <!--Game is in this container-->
    <div class="game_container"> 
        <div id="map" style="width:100%; height:400px;"></div>
        <script src="{% static 'reviews/game_leaflet.js' %}"></script>
    </div>
    <br>
    <!--User's path display-->
    <div class="pin_bar">Pin</div><br>
  
    <!--Reset Button-->
    <button class="button" type="Reset"></button>
    

<input id="submit" type="Submit"  class="sub_button" > 
    {{ room_name|json_script:"room-name" }}
    {{ map_layout|json_script:"map_layout" }}
    <script src="{% static 'reviews/game_script.js' %}"></script>
    <script src="{% static 'reviews/game_leaflet.js' %}"></script>
</body>
</html>