{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'reviews/style.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/leaflet.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lancelot&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap" rel="stylesheet">
<!--map api set up-->
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <title>Homepage</title>
    
</head>
    <body>
        <div id="bonus"></div>
   <!--log-in and sign in buttons-->
   {% if user.is_authenticated %}
    <a class="logbutton" href="{% url 'logout' %}">Logout</a>
   <div class="welcome_user_container">
       <h2 class="welcome_user"> {{ user.username }} </h2>
   </div>
   {% else %}
   <a class="logbutton" href="{% url 'login_user' %}">Login</a>
   <p>tst</p>
   <a class="logbutton" href="{% url 'register_user' %}">Register</a>
   {% endif %}
   <p>tst</p>
   <a class="signbutton" href="/game/">Game</a>
<div class="logbox" id="logging">
    <form><hr><hr><hr>
        <!--close button-->
            <button onclick="logDown()" type="button" class="x" id="closeLog">&times;</button><br>
        <!--Username field-->
            <input type="text" placeholder="User-Name" class="input" id="useVal"><br><hr><br><hr>
        <!--Password field-->
            <input type="text" placeholder="Password" class="input" id="passVal"><br><hr><hr><hr><br><br>
        <!--Log-In button-->
            <button onclick="log_me_in()" class="sibutton">Log-In</button>
    </form>
</div>

<!--bonus feature form-->
<div class="timerpop" id="addLoco">   
    <form id="timeform">
           <p class="para">How many minutes would you like to share your location?</p>
           <input class="slider" type="range" id="time" name="Hour" min="1" max="60" value="1"> <span id="val"></span><br><br>
      <input type="submit" class="tbutton" value="Submit" onclick="t_submit(event)">
      <br><br><br>
            <input type="reset" class="tbutton" value="Reset" />
        </form>
</div>


<!--sign in form-->
<div class="logbox" id="signing">
    <form action ="/test/" method="post"> {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
    <!--Close button-->
        <button onclick="signDown" class="x" type="button" id="closeSign">&times;</button><br><br>
    <!--User Name field-->
        <input type="text" placeholder="User Name" class="input" id="suseVal"><br><hr><br><hr>
    <!--Password field-->
        <input type="text" placeholder="Password" class="input" id="spassVal1"><br><hr><br><hr>
    <!--Re-type Password field-->
        <input type="text" placeholder="Re-type Password" class="input" id="spassVal2"><br><hr><hr><hr><br><br>
    <!--Sign-In Button-->
        <button onclick="sign_me_in()" class="sibutton">Sign-Up</button>
    </form>
</div><br><hr>

<!--logo of website-->
<div id="logobox">
    
    </div><br><hr>

<!--introduction-->
<div class="box">Welcome to Bills of Trails! Explore and review area all over Buffalo, home of the Buffalo Bills!<br>To make a review:<br>1. Log-in or register<br>2. Click on the place you want to review on the map<br>3. Complete the review form, optionally you can set the pin to you location pin with the 'Event pin' button. After you are done hit submit!<br>4. To see your pin or others hit any pin and click "View Reviews" and give others a like.</div>
<!--post container,map should be here-->
<br><br><div class="bodcontainer"><hr>
    <div id="map" style="height: 500px; width: 100%;"></div>
    <script src="{% static 'reviews/map.js' %}"></script>
</div>
<p style="color:white; font-family: 'Montserrat', serif; text-align: center; font-size:18px;"><u><b>Check reviews here!</b></u></p>
<div class="revcont">
    <div id="revcontainer" class="review-container"></div>
</div>



<div class="popoverlay" id="addPost">
     <button onclick="popDown()" type="button" class="x" id="closePop">&times;</button><br><hr><br>
     
     <form id="reviewForm" enctype="multipart/form-data" method="POST">
        
        <!-- OPEN: Please center properly -->
        <p class ="file_remind">JPEG and PNG files only (Optional)</p>
        <!-- CSRF Token -->
        {% csrf_token %}
 
        <input type="file" id="picVal" class="pbutton" default=""><br><hr><br><hr>

        <!-- Review Field -->
        <input type="text" placeholder="Leave Your Review Here" id="revVal" class="pinput"><br><hr><br><hr>
        <!-- Hidden Latitude and Longitude Fields -->
        <input type="hidden" id="latVal" name="lat" value="">
        <input type="hidden" id="longVal" name="long" value="">
        <!-- Submit Button -->

         <button type = "button" id = "event" class = "pbutton " onclick = "timePopUp()" > Event Pin </button> <br><hr><br><hr>
         <input type="hidden" id="timeToSend" value="-1">
        <input type="submit" class="pbutton" value="Submit" onclick="submission(event)"><br><hr><br><hr>
        
        <input type="reset" class="pbutton" value="Reset" />
    </form>

</div>

        <script src="{% static 'reviews/scripts.js' %}"></script>
        <script src ="{% static 'reviews/map.js' %}"></script>
        <script src ="{% static 'reviews/bonusFeature.js' %}"></script>
        <script> var CSRF_TOKEN = '{{ csrf_token }}';</script>
    </body>
</html>


