{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'reviews/style.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/leaflet.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<!--map api set up-->
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
    <body>
   <!--log-in and sign in buttons-->
<button onclick="logme()" class="logbutton" id="lButton">Login</button>
<button onclick="signme()" class="signbutton" id="sButton">Sign-In</button>

 <!--log in form-->       
<div class="logbox" id="logging">
    <form><hr><hr><hr>
        <!--close button-->
            <button onclick="logDown()" type="button" class="x" id="closeLog">&times;</button><br>
        <!--Username field-->
            <input type="text" placeholder="User-Name" class="input" id="useVal"><br><hr><br><hr>
        <!--Password field-->
            <input type="text" placeholder="Password" class="input" id="passVal"><br><hr><hr><hr><br><br>
        <!--Log-In button-->
            <button onclick="log_me_in()" class="sibutton">Log-In</button>
    </form>
</div>

<!--sign in form-->
<div class="logbox" id="signing">
    <form action ="/test/" method="post"> {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
    <!--Close button-->
        <button onclick="signDown" class="x" type="button" id="closeSign">&times;</button><br><br>
    <!--User Name field-->
        <input type="text" placeholder="User Name" class="input" id="suseVal"><br><hr><br><hr>
    <!--Password field-->
        <input type="text" placeholder="Password" class="input" id="spassVal1"><br><hr><br><hr>
    <!--Re-type Password field-->
        <input type="text" placeholder="Re-type Password" class="input" id="spassVal2"><br><hr><hr><hr><br><br>
    <!--Sign-In Button-->
        <button onclick="sign_me_in()" class="sibutton">Sign-Up</button>
    </form>
</div><br><hr>

<!--logo of website-->
<div id="logobox">
    <img src="{% static 'reviews/images/Logo1.jpg' %}" alt="Logo">
    </div><br><hr>

<!--introduction--> 
<div class="box">Welcome! This is a website for anyone in the 716 area to share cool hangout spots. From a cool part of a park to a street with a nice view. To make a review hit the button at the bottom right: upload a clear picture, then put the adress, your rating, and quick review of your spot!</div>
<!--post container,map should be here-->
<br><br><div class="bodcontainer"><hr>
    <div id="map" style="height: 500px; width: 100%;"></div>
    <script src="{% static 'reviews/map.js' %}"></script>
</div>

<!--post button-->
        
<button class="circle" id="postButton">
    <img src="{% static 'reviews/images/plus.jpg' %}" alt="PLUS">
    
</button><hr>


<!--post pop up form-->
    <div class="popoverlay" id="addPost">
        <form>
        <!--Close Button-->
            <button onclick="popDown()" type="button" class="x" id="closePop">&times;</button><br><hr><br>
        <!--Media Upload Field-->    
            <input type="file" id="picVal" class="pbutton"><br><hr><br><hr>
        <!--Location/Address field-->            
            <input type="text" placeholder="Location/Adress" id="l_aVal" class="pinput"><br><hr><br><hr>
        <!--Range Field-->            
            <input type="range" min="0" max="5" id="ratingVal" class="hue"><hr><br><hr>
        <!--Review Field-->           
            <input type="text" placeholder="Leave You Review Here" id="revVal" class="pinput"><br><hr><br><hr>
        <!--Submit Button-->
            <input type="Submit" onclick="submission()" class="pbutton" placeholder="Submit"><br><hr><br><hr>
        <!--Reset Button-->    
            <input type="Reset" class="pbutton" placeholder="Reset">
        </form>
    </div>
        <script src="{% static 'reviews/scripts.js' %}"></script>
        <script src="{% static 'reviews/leaflet.js' %}"></script>
    </body>
</html>