<html>
<!--This is the html container the post will be formatted in + will go inside of to each pin form-->
<link rel="stylesheet" href="{% static 'reviews/post.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lancelot&display=swap" rel="stylesheet">
<body>
    <!--Scroll box holding all posts per pin-->
<div class="invisiblebox" id="scrollbox">
    <!--Post Container-->
<div class="box" id="one_post">
<hr>
    <!--Review container-->

    <div class="revcont">
        
        <div id="revcontainer"></div>

    </div>
    
    
<hr>
<!--Like & dislike buttons-->
<button class="like"></button>&nbsp&nbsp<button class="dislike"></button>
<hr>
<!--Reply Container-->
<div class="replybox">
    <!--reply button-->
    <button>Reply</button>
    </div>
    </div>
</div>
</body>
</html>