<html>
<!--This is the html container the post will be formatted in + will go inside of to each pin form-->
<link rel="stylesheet" href="{% static 'reviews/post.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lancelot&display=swap" rel="stylesheet">
<body>
    <!--Post Container-->
<div class="box">
<hr>
    <!--Review container-->
    <div class="revcont">
    <!--Reviews go in here-->This is my review
    </div>
    
    
<hr>
<!--Like & dislike buttons-->
<button class="like"></button>&nbsp&nbsp<button class="dislike"></button>
<hr>
<!--Reply Container-->
<div class="replybox">
    <!--reply button-->
    <button>Reply</button>
    </div>
    </div>
</body>
</html>